@font-face {
    font-family: "cairo";
    src: url('../fonts/cairo.ttf' );
    }
body{
    font-family: "cairo" !important;
    /* height:500px; */
    overflow-x :hidden;
  }
  a{
    font-family: "cairo" !important;
  }

  html{
    font-family: "cairo" !important;
  }



  .language-button{
    background: darkblue;
    color: white;
    transition: 0.7s all;
  }

  .the-validation-message{
    color: white;
    background: rgb(221, 117, 117);
    margin-bottom: 8px;
  }
